#header {
	width: 100%;
	height: 100px;
	background-color: #FF3300;
	padding: 10px;
}

#header_text {
	color: white;
	font-size: 60px;
	margin-left: 30px;
}

#toolbar {
	width: 100%;
	height: 50px;
	background-color: #ff724c;
	padding: 10px;
}

#toolbar_text {
	color: white;
	font-size: 20px;
	margin-left: 30px; 
}

#chart {
	padding-left: 50px;
	padding-top: 20px;
}

#ticklist {
	background-color: #cdcdcd;
	height: calc(100vh - 150px);
	width: 100%;
	padding: 10px;
}

#tickbutton {
	position: absolute;
	right: 30px;
}

#row {
	height: 100%;
}

#small_header {
	color: white;
}

#info_button {
	right: 10px;
	top: 106px;
	background-color: #FF9A7F;
	border-color: #FFEBE5;
}

#github_button {
	right: 10px;
    top: 34px;
}

.align-right {
	position: absolute;
}

.square {
	height: 20px;
	width: 20px;
}

* {
	font-family: 'Roboto', sans-serif;
}